html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

body {
    background: #fff;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
}

#mainLogo {
	padding-top: 10px;
	padding-left: 40px;
	margin-bottom: -10px;
	margin-top: -10px;
}

a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    color: #ea7a02;
    font-weight: normal;
    font-size: 16px;
    margin: .4em 0 .3em 0;
    padding-bottom: .4em;
}

ul {
    padding-left: 15px;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #f69322;
}

.body {
    margin-left: 45px;
    padding-top: 5px;
    padding-right: 30px;
    width: 1250px;
}

.bottomWrapper{
	margin: 0px;
	padding: 0px;
	border: 1px solid #ddd;
}

.bottomWrapperNoBorders{
	margin: 0px;
	padding: 10px 0 0 0;
}

/* NAVIGATION MENU */

.loginNav {
	padding:25px;
	padding-right:10px;]
	display:inline;
	float:right;
	line-height: 3em;
	font-size: 15px;
}

.mainNav {
    background-color: #f69322;
    padding: 20px 40px 10px;
}

.nav {
	margin-top: 5px;
	margin-left: 40px;
	padding: 5px;
	padding-left: 0px;
	height: 15px;
}

.menuButton {
    padding: 0 5px;
}
.menuButton a {
	font-size: 1.1em;
	font-weight: normal;
    color: #000;
    padding: 4px 6px;
}
.menuButton a.main {
	font-size: 1.2em;
	font-weight: bold;
	color: #fff;
    padding: 4px 6px;
}
.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #000;
    padding-left: 25px;
}
.menuButton a.show {
    background: url(../images/skin/information.png) center left no-repeat;
    color: #000;
    padding-left: 25px;
}
.menuButton a.edit {
    background: url(../images/skin/database_edit.png) center left no-repeat;
    color: #000;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #000;
    padding-left: 25px;
}
a.log {
	color: #000;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 20px 0;
    display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
    text-align: center;
    padding: 5px 15px 5px 30px;
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    display: inline-block;
    margin: 10px 0 5px 0;
    padding: 5px 15px 5px 5px;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}
td.errors textarea {
    border: 1px solid red;
}

/* TABLES */

table {
    border: 1px solid #ccc;
    width: auto;
}
tr {
    border: 0;
}
td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 10px;
    text-align: left;
    vertical-align: top;
}
th {
    color: #666;
    border-right: 1px solid #ccc;
    border-bottom: 1px #ccc solid;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 5px 10px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
    padding-right: 5px;
}
th.asc a, th.desc a {
    background-position: right center;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #fcbb76;
}

/* PAGINATION */

.paginateButtons {
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
    padding-bottom: 0px;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

/* ACTION BUTTONS */

.buttons {
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.list {
	background: url(../images/skin/database_table.png) 5px 50% no-repeat;
	padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}
